<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @loan_product.code %>
</p>

<%= link_to 'Edit', edit_loan_product_path(@loan_product) %> |
<%= link_to 'Back', loan_products_path %>
