<h1>Stampede Decisioning Dashboard</h1>
<nav>
  <ul>
    <li><%= link_to "Manage Loan Products", loan_products_path %></li>
    <li><%= link_to "Find Eligible Products", find_product_path %></li>
  </ul>
</nav>
