<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @loan_servicer.name %>
</p>

<%= link_to 'Edit', edit_loan_servicer_path(@loan_servicer) %> |
<%= link_to 'Back', loan_servicers_path %>
